.idea/
document_summarizer_QA_RAG_v1.1
churchill-speech.txt
document_summarizer_QA_RAG_v1.1.py
requirements.txt.bak
sj-1000-4.txt
sj-3-512.txt
sj-512-3.txt
sj.txt
sj.txt-2
sj.txt-3
sj.txt-3-512
sj.txt-str3-str512
test - document_summarizer_QA_RAG_v1.2.py
test.py
the_great_gatsby-1500-5.docx
the_great_gatsby.docx
.env
